
/* Navigation */
#mainNav {
  background-color: #090a14;
  opacity:0.7;
}

#mainNav .navbar {
position: relative;
display: flex;
flex-wrap: wrap; 
align-items: center;
justify-content: space-between;
padding:1em;
}
#mainNav .navbar .container,
#mainNav .navbar .container-fluid {
display: flex;
flex-wrap: wrap;
align-items: center;
justify-content: space-between;
}

#mainNav .navbar-brand {
display: inline-block;
padding-top: 0.5em;
padding-bottom: 0.5em;
margin-right: 0.5em;
line-height: inherit;
white-space: nowrap;
font-weight: bolder;
letter-spacing: .15em;
}

#mainNav .navbar-nav {
display: flex;
padding-left: 0;
margin-bottom: 0;
list-style: none;
}
#mainNav .navbar-nav.nav-link {
padding-right: 0;
padding-left: 0;
}

#mainNav .navbar-toggler {
font-size: 12px;
right: 0;
padding: 13px;
text-transform: uppercase;
color: white;
border: 0;
background-color: #fed136;
font-family: 'Raleway', sans-serif;
}
#mainNav .navbar-brand {
color: #fed136;
font-family: 'Raleway', sans-serif;
}
#mainNav .navbar-brand.active,
#mainNav .navbar-brand:active,
#mainNav .navbar-brand:focus,
#mainNav .navbar-brand:hover {
color: #fec503;
}
#mainNav .navbar-nav .nav-item .nav-link {
font-size: 100%;
font-weight: bold;
padding: 0.75em 0;
letter-spacing: .15em;
color: white;
font-family: 'Raleway', sans-serif;
}
#mainNav .navbar-nav .nav-item .nav-link.active,
#mainNav .navbar-nav .nav-item .nav-link:hover {
color: #fed136;
}


@media (min-width: 992px) {
  #mainNav {
      padding-top: 25px;
      padding-bottom: 25px;
      -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
      -moz-transition: padding-top 0.3s, padding-bottom 0.3s;
      transition: padding-top 0.3s, padding-bottom 0.3s;
      border: none;
      background-color: #090a14;
  }
  #mainNav .navbar-brand {
      font-size: 1.75em;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s;
  }
  #mainNav .navbar-nav .nav-item .nav-link {
      padding: 1.1em 1em !important;
  }
  #mainNav.navbar-shrink {
      padding-top: 0;
      padding-bottom: 0;
      background-color: #090a14;
  }
  #mainNav.navbar-shrink .navbar-brand {
      font-size: 1.25em;
      padding: 12px 0;
  }
  #mainNav.navbar-nav {
    flex-direction:column;
    }
  #mainNav.navbar-nav .dropdown-menu {
    position: absolute;
  }   
  #mainNav.navbar-nav .nav-link {
    padding-right: 1em;
    padding-left: 1em;
  }  
  #mainNav.navbar-nav .container,
  #mainNav.navbar-nav .container-fluid {
  flex-wrap: nowrap;
  }   
  #mainNav.navbar-collapse {
    display: flex !important;
    flex-basis: auto;
  } 
  #mainNav.navbar-toggler {
  display: none;
  }
  #mainNav.navbar-nav.dropdown-menu {
  position: static;
  float: none;
  }
  #mainNav.navbar-text {
  display: inline-block;
  padding-top: 1em;
  padding-bottom: 1em;
  }

  #mainNav.navbar-collapse {
  flex-basis: 100%;
  flex-grow: 1;
  align-items: center;
  }

  #mainNav.navbar-toggler {
  padding: 1em;;
  line-height: 1;
  background-color: transparent; 
  border: 1px solid transparent;
  }

  #mainNav.navbar-toggler-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  content: "";
  background: no-repeat center center;
  background-size: 100% 100%;
  }
}



      
 
