body {
    overflow-x: hidden;
    font-family: 'Noto Sans KR', 'Roboto', 'Roboto Slab', 'Raleway', sans-serif;
}
p {
    line-height: 1.75;
}
a {
    color: #fed136;
}
a:hover {
    color: #fec503;
}
.text-primary {
    color: #fed136 !important;
}
h1,h2,h3,h4,h5,h6 {
    font-weight: 700;
    font-family: 'Noto Sans KR', 'Roboto', 'Roboto Slab', sans-serif;
}
.page-section {
    padding: 7em 0;
}
.page-section h2 .section-heading {
    font-size: 3rem;
    margin-top: 0;
    margin-bottom: 15px;
    font-family: 'Raleway', sans-serif;
    letter-spacing: .25em;
    line-height: 1.65;
    text-transform: uppercase;
}
.page-section h3 .section-subheading {
    font-size: 16px;
    font-weight: 400;
    font-style: italic;
    margin-bottom: 75px;
    text-transform: none;
    font-family: 'Roboto',  sans-serif;
    letter-spacing: .25em;
}
@media (min-width: 768px) {
    section {
        padding: 150px 0;
    }
}
::-moz-selection {
    background: #fed136;
    text-shadow: none;
}
::selection {
    background: #fed136;
    text-shadow: none;
}
img::selection {
    background: transparent;
}
img::-moz-selection {
    background: transparent;
}
audio,
canvas,
progress,
video {
  display: inline-block; /* 1 */
  vertical-align: baseline; /* 2 */
}
.btn {
    font-family: 'Roboto' sans-serif;
    font-weight: 700;
}
.btn-xl {
    font-size: 18px;
    padding: 20px 40px;
}
.btn-primary {
    background-color: #fed136;
    border-color: #fed136;
}
.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover {
    background-color: #fec810 !important;
    border-color: #fec810 !important;
    color: white;
}
.btn-primary:active,
.btn-primary:focus {
    box-shadow: 0 0 0 0.2rem rgba(254,209,55,0.5) !important;
}

.service-heading {
    margin: 15px 0;
    text-transform: none;
}

/*  Title */
#title_bg {
    position: fixed;
    left: 0;
    top: 0;
    width: auto;
    height: auto;
    min-width: 100%;
    max-height: 500px;
    z-index: -100;
    background: url("images/flame.jpg") left top no-repeat;
    background-size: cover;
    overflow: hidden;
}
.container {
    position: relative;
    text-align: center;
    max-width: 900px;
}
h2 {
    font-family: 'Roboto Slab';
    font-size: 4em;
}
h1 {
    font-family: 'Roboto Slab';
    font-size: 8em;
}
@-webkit-keyframes bounce-fade {
    0% {
        opacity: 0;
        bottom: 70px;
    }
    100% {
        opacity: 1;
        bottom: 35px;
    }
}
@-moz-keyframes bounce-fade {
    0% {
        opacity: 0;
        bottom: 70px;
    }
    100% {
        opacity: 1;
        bottom: 35px;
    }
}
@-o-keyframes bounce-fade {
    0% {
        opacity: 0;
        bottom: 70px;
    }
    100% {
        opacity: 1;
        bottom: 35px;
    }
}
@keyframes bounce-fade {
    0% {
        opacity: 0;
        bottom: 70px;
    }
    100% {
        opacity: 1;
        bottom: 35px;
    }
}
@media screen and (max-width: 50em) {
    .demo-1 .codrops-header {
        background: none;
    }
    .demo-1 .codrops-header h1 {
        font-size: 8vw;
    }
    .grid__item {
        width: 100%;
    }
}
@media screen and (max-width: 40em) {
    .codrops-header h1 {
        font-size: 1.85em;
    }
}

/* Portfolio */
#portfolio .portfolio-item {
    right: 0;
    margin: 0 0 30px;
}
#portfolio .portfolio-item .portfolio-link {
    position: relative;
    display: block;
    max-width: 404px;
    margin: 0 auto;
    cursor: pointer;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    transition: all ease 0.5s;
    opacity: 0;
    background: rgba(254,209,54,0.9);
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover:hover {
    opacity: 1;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
    font-size: 20px;
    position: absolute;
    top: 50%;
    width: 100%;
    height: 20px;
    margin-top: -12px;
    text-align: center;
    color: white;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content i {
    margin-top: -12px;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h3,
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h4 {
    margin: 0;
}
#portfolio .portfolio-item .portfolio-caption {
    max-width: 404px;
    margin: 0 auto;
    padding: 25px;
    text-align: center;
}
#portfolio .portfolio-item .portfolio-caption h4 {
    font-size: 1.25rem;
    font-weight:600;
    margin: 0;
    text-transform: none;
    font-family: 'Noto Sans KR', sans-serif;
}
#portfolio .portfolio-item .portfolio-caption p {
    font-size: 0.875rem;
    font-weight:400;
    letter-spacing: .1em;
    font-style: italic;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
#portfolio * {
    z-index: 2;
    border-radius: 2em;
}
@media (min-width: 767px) {
    #portfolio .portfolio-item {
        margin: 0 0 15px;
    }
}
.portfolio-modal .modal-dialog {
    margin: 0 auto;
    max-width: 1280px;
}
.portfolio-modal .modal-content {
    padding: 100px 0;
    text-align: center;
}
.portfolio-modal .modal-content h2 {
    font-size: 2.25rem;
    font-family: 'Noto Sans KR';
    letter-spacing: -0.5;
    margin: 0 auto;
    padding-bottom: 25px;
}
.portfolio-modal .modal-content p {
    max-width: 767px;
    font-family: 'Noto Sans KR';
    letter-spacing: -0.5;
    margin: 0 auto;
    padding:0 0.8em;
}
.portfolio-modal .modal-content ul.list-inline {
    font-size: 15px;
    font-style: italic;
    color: #6d6d6d;
    margin: 0 auto;
    padding: 20px 0 30px;
    font-family: 'Roboto', sans-serif;
}
.portfolio-modal .modal-content img {
    margin-bottom: 30px;
}
.portfolio-modal .modal-content button {
    cursor: pointer;
}
.portfolio-modal .close-modal {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 75px;
    height: 75px;
    cursor: pointer;
    background-color: transparent;
}
.portfolio-modal .close-modal:hover {
    opacity: 0.3;
}
.portfolio-modal .close-modal .lr {
    z-index: 1051;
    width: 1px;
    height: 75px;
    margin-left: 35px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    background-color: #212529;
}
.portfolio-modal .close-modal .lr .rl {
    z-index: 1052;
    width: 1px;
    height: 75px;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    background-color: #212529;
}

/*  progress */
.about-area{
    margin-top:60%;
}

.progress-bars {
    margin-top:4em;
}

.skills-grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 60% 40%;
    grid-template-columns: 60% 40%;
    grid-gap: 80px;
}
.technical-skills {
    right: 0;
    margin: 0 0 30px;
    font-family: 'Roboto Slab';
}

.skillbar {
    position: relative;
    display: block;
    margin-bottom: 34px;
    max-width: 404px;
    background: #F2F2F2;
    height: 12px;
    padding: 2px 0;
    border-radius: 12px;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    -webkit-transition: 0.4s linear;
    -moz-transition: 0.4s linear;
    -ms-transition: 0.4s linear;
    -o-transition: 0.4s linear;
    transition: 0.4s linear;
    -webkit-transition-property: width, background-color;
    -moz-transition-property: width, background-color;
    -ms-transition-property: width, background-color;
    -o-transition-property: width, background-color;
    transition-property: width, background-color;
    font-family: 'Roboto Slab', sans-serif;
}
.skillbar-title {
    position: absolute;
    top: 0;
    left: 0;
    width: 140px;
    font-weight: 400;
    color: #000000;
    font-size: 1rem;
    background: #ffffff;
}
.skillbar-title img {
    content: '';
    display: inline-block;
    width: 22px;
    height: 22px;
    margin-bottom: -3px;
    margin-right: 10px;
    border-radius: 4px;
}
.skillbar-bar {
    height: 12px;
    width: 0;
    background: #FFCB12;
    border-radius: 12px;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
}
.skills-subsection {
    font-family: 'Roboto';
    font-size: 40px;
    font-size: 2.5rem;
    margin-bottom: 30px;
    font-weight: 300;
    text-align: center;
}
.what {
    position: relative;
    display: block;
    max-width: 404px;
    margin: 0 auto;
    cursor: pointer;
}
.section-heading {
    text-align: center;
    margin-bottom: 50px;
    font-family: 'Roboto',sans-serif;
    font-size: 40px;
    font-size: 2.5rem;
    color: #222;
    font-weight: bolder;
    letter-spacing: .25em;
}
.paragraph-text {
    font-family: 'Roboto Slab', 'Noto Sans KR', sans-serif;
    font-size: 1.125rem;
    margin: 30px auto;
    color: #404040;
}
.paragraph-text-normal {
    line-height: 1.4;
}

@media (min-width: 767px) {

    .technical-skills {
        margin: 0 0 15px;
    }
}

/*  experience */
#experience .Experience-caption {
    line-height:2;
}
#experience .Experience-caption h4 {
    font-size: 1.5rem;
    font-weight:600;
    margin: 0;
    line-height:1.2;
    text-transform: none;
    font-family: 'Roboto', sans-serif;
}
#experience .Experience-caption h5 {
    font-size: 0.875rem;
    font-weight:200;
    margin: 0;
    font-family: 'Roboto Slab';
    color: lightslategrey;
    line-height:2.5;
}
#experience .Experience-caption h6 {
    font-size:1.125rem;
    font-weight:500;
    margin: 0;
    font-family: 'Raleway', sans-serif;
    color: rgb(74, 81, 88);
    line-height:2.5;
}
#scrolling-clients {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}
#col-md-3 col-sm-6 {
    flex: 0 0 auto;
}

/*  Title video */
.masthead {
    position: absolute;
    top: 0; left: 0;
    bottom: 0; right: 0;
    width: 100%;
}
.header-title {
    margin: 0 auto;
    text-align: center;
    z-index: 3000;
    padding-top:4em;
  }
.masthead-video {
    z-index: -3000;
    position: absolute;
    top: 0; left: 0;
    bottom: 0; right: 0;
    width:100%;
}
.arrow-down {
    position: absolute;
    z-index: 3100;
    margin-top:400px;
    left: 50%;
    margin-bottom: -30px;
    width: 21px;
    height: 29px;
    background: url("../arrow-down.png") no-repeat center center;
    display: block;
    -webkit-animation: bounce-fade 1.2s infinite;
    /* Safari 4+ */
    -moz-animation: bounce-fade 1.2s infinite;
    /* Fx 5+ */
    -o-animation: bounce-fade 1.2s infinite;
    /* Opera 12+ */
    animation: bounce-fade 1.2s infinite;
    /* IE 10+ */
}
@media (max-width: 767px) {
    .masthead {
    position: absolute;
    min-width: 414px;
    max-height: 480px;
    }
    .masthead-video {
    z-index: -6000;
    position: absolute;
    top: 0; left: 0;
    bottom: 0; right: 0;
    width: 100%;
    }
    .header-title {
    padding:2em 0;
    }
    .header-title img {
    width:50%;
    }
    .arrow-down {
    display: none;   /* IE 10+ */
    }
}

/*  footer */
.footer {
background-color: #444;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-pack: center;
    -ms-flex-pack: center;
        justify-content: center;
-webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
min-height: 60px;
color: #fff;
font-family: 'Raleway', sans-serif;

background: url("../background.png");
background-repeat: repeat;
background-attachment: fixed;
}
.footer-text a {
color: inherit;
}